@{
    ViewData["Title"] = "Fallo autenticación";
}

<h1 class="title">@ViewData["Title"]</h1>
<h2 class="subtitle">Acceso no válido</h2>

<div class="content">
    <p>Lo sentimos no se pudo acceder al sistema con las credenciales ingresadas.</p>
</div>
