
@{
    ViewData["Title"] = "Acceso Denegado";
}

<div class="text-center">
    <h1 class="text-danger">Acceso Denegado</h1>
    <h6 class="text-danger">
        No tiene permiso para ver este recurso
    </h6>
    <img src="~/images/denied.png" asp-append-version="true" style="height:300px; width:300px" />
</div>

